@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #30323D;
}

li,a,button{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #F6FFF8;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 7%;

}

.logo{
    cursor: pointer;
}

.navbtns{
    list-style: none;
}

.navbtns li{
    display: inline-block;
    padding: 0px 20px;
    
}

.navbtns li a{
    transition: 0.3s ease 0s;
}
.navbtns li a:hover{
    color:#39A0ED
}

button{
    padding: 10px 20px;
    background-color: #39A0ED;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:#f7567c ;
}